$purple: #535bf2;
@use "bulma/sass" with ($primary: $purple);

html,
body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.show-date-picker {
    display: flex;
    justify-content: center;
}

.label-app {
    border: 1px solid $purple;
    border-radius: 10px;
    padding: 10px;
    min-width: 60vw;
}

.label-sizing {
    .label-sizing-options {
        display: flex;
        justify-content: space-around;
    }
}

.checkboxes {
    display: flex;
    justify-content: space-around;
}

label.checkbox {
    font-size: 1.25rem;

    input[type="checkbox"] {
        margin-right: 5px;
    }
}

label.radio {
    font-size: 1.25rem;

    input[type="radio"] {
        margin-right: 5px;
    }
}